@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
'themes/default';


@import 'variables';
$body-color: pink;
body {
	color : $body-color;
}

.country-wrapper {
	background-color: pink!important;
}

.vu .tien .thinh .anh {
	background-color: blue;
}

.luong .hai .ha .em {
	@extend .anh;
}

.hoverlink {
	@extend a:hover;
}
a {
	&[href*='http://'] {
		&:hover {
			text-decoration: underline;
		}
	}
}

/*$padding: 10;

.top {
	$padding: 30 !global;
	padding: $padding;
}

.bottom {
	padding: $padding;
}*/

$padding: 50 !default;

.bottom {
	padding: $padding;
}